USE [MedSync_HL7_Convertor];
GO
/****** OBJECT:  STOREDPROCEDURE [dbo].[usp_ConvertDataMedSyncXML]    ******/
SET ANSI_NULLS ON;
GO
SET QUOTED_IDENTIFIER ON;
GO

/*
================================================================================
PROC:        dbo.usp_ConvertDataMedSyncXML
PURPOSE:     Build MedSync XML per External System/HL7 segment mapping for all
             eligible rows, apply transformation rules, and publish merged XML
             back to staging tables with status updates & auditing.

INPUTS:      (None) — operates on rows discovered in the views below.
OUTPUTS:     Writes:
               - Temp structures (#TEMTABLE, #LOOPTABLE, #RULE_TAB)
               - Updates MedSyncDataXML, DataParseDateTime, StatusID on
                 vw_ExternalSysDataImportRow / vw_ExternalSysDataImport via UPDATE
               - Audit start/end via dbo.usp_AuditLogs
               - Error logging via dbo.usp_Log_MedSync_ProcessError

DEPENDENCIES:
  READS:
    - dbo.vw_ExternalSysDataImportRow
    - dbo.vw_ExternalSysDataImport
    - dbo.vw_DIC_ExternalSys
    - dbo.vw_DIC_ExternalSysFieldMapping
    - dbo.tbl_DIC_ExternalSysSegmentOrder
    - dbo.vw_DIC_Transformation_Rules
  WRITES:
    - Updates to vw_ExternalSysDataImportRow
    - Updates to vw_ExternalSysDataImport
    - Logging sprocs: dbo.usp_AuditLogs, dbo.usp_Log_MedSync_ProcessError

NOTES:
  * Keyword casing is ALL CAPS; behavior unchanged.
  * Dynamic SQL is retained for per-segment XML extraction columns and merging.
================================================================================
*/

ALTER PROCEDURE [dbo].[usp_ConvertDataMedSyncXML]
AS
BEGIN
    ----------------------------------------------------------------------------
    -- STAGE 0: RUNTIME CONTEXT / VARIABLES
    ----------------------------------------------------------------------------
    DECLARE @TEMTABLE TABLE
    (
        [ID]               INT IDENTITY (1,1),
        [ExternalSystemID] INT,
        [HL7Segment]       VARCHAR(10),
        [Position]         TINYINT,
        [SeqNo]            TINYINT
    );

    DECLARE @CurrentDate DATETIME,
            @ERROR       VARCHAR(1100),
            @ProcName    VARCHAR(500),
            @StatusID    TINYINT;

    DECLARE @StrCommand   NVARCHAR(MAX),
            @SegName      VARCHAR(10),
            @ExternalID   INT,
            @MAPID        INT,
            @Position     TINYINT,
            @Counter      INT,
            @Count        INT,
            @SQL_SCRIPT   NVARCHAR(MAX),
            @AuditId      BIGINT;

    SELECT @ProcName = OBJECT_NAME(@@PROCID);
    SET @CurrentDate = GETDATE();

    -- Workspace temp table for per-row processing
    IF OBJECT_ID('tempdb..[#TEMTABLE]') IS NOT NULL
        DROP TABLE [#TEMTABLE];

    CREATE TABLE [#TEMTABLE]
    (
        [ROWID]            INT,         -- Source row ID (vw_ExternalSysDataImportRow.ID)
        [ExternalSysData]  INT,         -- Parent (batch) ID
        [ExternalSystemID] INT,
        [RAWXML]           XML,         -- Raw input XML to parse
        [HHDXML]           XML,         -- Output built XML (per-row)
        [NotApplyTrans]    BIT          -- Flag to skip transformation on error
    );

    BEGIN TRY
        ------------------------------------------------------------------------
        -- STAGE 1: AUDIT START & SEED ELIGIBLE ROWS
        ------------------------------------------------------------------------
        EXEC [dbo].[usp_AuditLogs] 1, @ProcName, 'Process Started', @AuditId OUT;

        INSERT INTO [#TEMTABLE] ([ROWID], [ExternalSysData], [ExternalSystemID], [RAWXML], [NotApplyTrans])
        SELECT
            T1.[ID],
            T1.[ExternalSysData],
            T1.[ExternalSystemID],
            T1.[RawDataXML],
            0
        FROM   [dbo].[vw_ExternalSysDataImportRow] AS T1
        INNER JOIN [dbo].[vw_ExternalSysDataImport] AS T2
            ON T1.[ExternalSysData] = T2.[ID]
        WHERE  T1.[StatusID] = 3
           AND T2.[StatusID] = 3
           AND T2.[DataParseDateTime] IS NOT NULL
           AND T1.[DataParseDateTime] IS NOT NULL
           AND T1.[MedSyncDataXML] IS NULL
           AND EXISTS
               (
                   SELECT TOP (1) 1
                   FROM   [dbo].[vw_DIC_ExternalSys] AS T
                   WHERE  T.[Active] = 1
                     AND  T.[ExternalSystemID] = T2.[ExternalSystemID]
               );

        -- Target status bucket for “Parsed”
        SET @StatusID = 5;

        ------------------------------------------------------------------------
        -- STAGE 2: BUILD SEGMENT LIST TO PROCESS (FROM MAPPING)
        --          (IN-MEMORY TABLE VARIABLE @TEMTABLE IS REUSED HERE)
        ------------------------------------------------------------------------
        DELETE FROM @TEMTABLE;

        INSERT INTO @TEMTABLE ([ExternalSystemID], [HL7Segment], [Position], [SeqNo])
        SELECT
            T.[ExternalSystemID],
            T.[HL7Segment],
            ISNULL(T.[Position], 1),
            T2.[SeqNo]
        FROM   [vw_DIC_ExternalSysFieldMapping] AS T
        INNER JOIN [dbo].[tbl_DIC_ExternalSysSegmentOrder] AS T2
            ON T2.[ExternalSystemID] = T.[ExternalSystemID]
           AND T2.[Hl7Segment]      = T.[Hl7Segment]
        WHERE  EXISTS
               (
                   SELECT TOP (1) 1
                   FROM   [#TEMTABLE] AS T1
                   WHERE  T1.[ExternalSystemID] = T.[ExternalSystemID]
               )
        GROUP BY
            T.[ExternalSystemID],
            T.[HL7Segment],
            ISNULL(T.[Position], 1),
            T2.[SeqNo]
        ORDER BY
            T2.[SeqNo];

        UPDATE @TEMTABLE
        SET    [Position] = ISNULL([Position], 1);

        ------------------------------------------------------------------------
        -- STAGE 3: FOR EACH SEGMENT/POSITION, ADD A COLUMN TO #TEMTABLE
        --          AND FILL IT WITH SEGMENT-SPECIFIC XML BUILT VIA MAPPING
        ------------------------------------------------------------------------
        SET @Counter = 0;
        SELECT @Count = COUNT(1) FROM @TEMTABLE;

        IF (@Count > @Counter)
        BEGIN
            WHILE (@Count > @Counter)
            BEGIN
                SET @StrCommand = N'';
                SET @Counter    = @Counter + 1;

                -- Current segment to build
                SELECT
                    @SegName    = [HL7Segment],
                    @ExternalID = [ExternalSystemID],
                    @Position   = [Position]
                FROM @TEMTABLE
                WHERE [ID] = @Counter;

                -- Create a per-segment XML column on #TEMTABLE (e.g., [PID1XML])
                IF OBJECT_ID('tempdb..[#TEMTABLE]') IS NOT NULL
                BEGIN
                    SET @SQL_SCRIPT = N'ALTER TABLE [#TEMTABLE] ADD [' + @SegName + CAST(@Position AS VARCHAR(10)) + N'XML] XML';
                    PRINT @SQL_SCRIPT;
                    EXEC (@SQL_SCRIPT);
                END

                -- Build the select fragment list from mapping (XQuery or UDF/default)
                DECLARE @strCommandTable TABLE
                (
                    URN         INT IDENTITY(1,1),
                    [strCommand] NVARCHAR(MAX)
                );

                DELETE FROM @strCommandTable;

                INSERT INTO @strCommandTable ([strCommand])
                SELECT
                    CASE
                        WHEN ISNULL([XQueryPath], '') = '' THEN
                            CASE
                                WHEN ISNULL([UDFFunction], '') <> '' THEN
                                    N', ' + REPLACE([UDFFunction], '{#Input#}', ISNULL('''' + [DefaultValue] + '''', ''))
                                    + N' AS [' + LTRIM(RTRIM([FieldName])) + N']'
                                ELSE
                                    N', ''' + ISNULL([DefaultValue], '')
                                    + N''' AS [' + LTRIM(RTRIM([FieldName])) + N']'
                            END
                        ELSE
                            CASE
                                WHEN ISNULL([UDFFunction], '') <> '' THEN
                                    N', ' + REPLACE(
                                            [UDFFunction],
                                            '{#Input#}',
                                            N' (x.m.value(''' + ISNULL([XQueryPath], '')
                                            + ''', ''varchar(MAX)''))'
                                        )
                                    + N' AS [' + LTRIM(RTRIM([FieldName])) + N']'
                                ELSE
                                    N', x.m.value(''' + ISNULL([XQueryPath], '')
                                    + ''', ''varchar(MAX)'') AS [' + LTRIM(RTRIM([FieldName])) + N']'
                            END
                    END
                FROM [dbo].[vw_DIC_ExternalSysFieldMapping]
                WHERE [HL7Segment]      = @SegName
                  AND [ExternalSystemID] = @ExternalID
                  AND ISNULL([Position], 1) = @Position
                ORDER BY [SeqNo];

                -- Drive per-batch updates one ExternalSysData at a time
                IF OBJECT_ID('tempdb..[#LOOPTABLE]') IS NOT NULL
                    DROP TABLE [#LOOPTABLE];

                CREATE TABLE [#LOOPTABLE]
                (
                    [URN]            INT IDENTITY (1,1),
                    [ExternalSysData] INT
                );

                DELETE FROM [#LOOPTABLE];

                INSERT INTO [#LOOPTABLE] ([ExternalSysData])
                SELECT DISTINCT [ExternalSysData]
                FROM   [#TEMTABLE];

                DECLARE @CountLoopTab    INT,
                        @CounterLoopTab  INT,
                        @ExternalSysData INT;

                SELECT @CountLoopTab = COUNT(1) FROM [#LOOPTABLE];
                SET @CounterLoopTab = 0;

                WHILE (@CountLoopTab > @CounterLoopTab)
                BEGIN
                    SET @CounterLoopTab = @CounterLoopTab + 1;

                    SELECT @ExternalSysData = [ExternalSysData]
                    FROM   [#LOOPTABLE]
                    WHERE  [URN] = @CounterLoopTab;

                    -- Concatenate all select fragments for this segment
                    SELECT @StrCommand = @StrCommand + [strCommand]
                    FROM   @strCommandTable
                    ORDER BY URN;

                    SELECT @StrCommand;  -- DEBUG ECHO

                    BEGIN TRY
                        -- Wrap with a label (HL7SegName) + fragments to form a nested XML per row
                        SET @StrCommand = N' ''' + @SegName + N''' [HL7SegName] ' + @StrCommand;
                        PRINT @StrCommand;

                        -- Build dynamic UPDATE to fill [SEGxXML] from RAWXML nodes('/row')
                        SET @StrCommand = N'
											UPDATE T
											SET [' + @SegName + CAST(@Position AS VARCHAR(10)) + N'XML] =
												CAST((
													SELECT ' + @StrCommand + N'
													FROM  [dbo].[#TEMTABLE] AS T1
													CROSS APPLY [RAWXML].nodes(''/row'') AS x(m)
													WHERE T1.[ROWID] = T.[ROWID]
													FOR XML PATH(''''), TYPE
												) AS XML)
											FROM [#TEMTABLE] AS T
											WHERE [ExternalSysData] = ' + CAST(@ExternalSysData AS VARCHAR(10)) + N';
											';
                        SELECT @StrCommand;         -- DEBUG ECHO
                        EXEC sp_executesql @StrCommand;
                        SET @StrCommand = N'';
                    END TRY
                    BEGIN CATCH
                        -- Mark the batch row to skip transformation later; log error details
                        SET @MAPID = 0;
                        SET @ERROR = 'SegName' + ISNULL(@SegName, '')
                                   + '-' + CAST(@ExternalSysData AS VARCHAR(50))
                                   + ' - ' + CAST(ERROR_NUMBER() AS VARCHAR(10))
                                   + ' - ' + CAST(ERROR_MESSAGE() AS VARCHAR(1000));

                        PRINT @StrCommand;

                        UPDATE T1
                        SET    [ErrorDetail] = @ERROR,
                               [StatusID]    = @StatusID + 1 -- ERROR STATE
                        FROM   [dbo].[vw_ExternalSysDataImport] AS T1
                        WHERE  [StatusID] = 3
                          AND  T1.[ID]   = @ExternalSysData;

                        UPDATE [#TEMTABLE]
                        SET    [NotApplyTrans] = 1
                        WHERE  [ExternalSysData] = @ExternalSysData;

                        EXEC [dbo].[usp_Log_MedSync_ProcessError]
                             @ProcName, @ERROR, @StatusID, @AuditId;
                    END CATCH
                END -- WHILE (#LOOPTABLE)
            END -- WHILE (segments)
        END -- IF any segments to process

        ------------------------------------------------------------------------
        -- STAGE 4: RUN TRANSFORMATION RULES (CSV TRANSFORMATION) IF APPLICABLE
        ------------------------------------------------------------------------
        PRINT 'ADD LOG';

        BEGIN
            DECLARE @iCounter INT,
                    @Counts   INT,
                    @SQLQUERY VARCHAR(MAX),
                    @Desc     VARCHAR(200);

            IF OBJECT_ID('tempdb..[#RULE_TAB]') IS NOT NULL
                DROP TABLE [#RULE_TAB];

            CREATE TABLE [#RULE_TAB]
            (
                [ID]          INT IDENTITY (1,1),
                [SQLQRY]      VARCHAR(MAX),
                [Description] VARCHAR(200)
            );

            INSERT INTO [#RULE_TAB] ([SQLQRY], [Description])
            SELECT
                [DynamicQuery],
                [Description]
            FROM   [dbo].[vw_DIC_Transformation_Rules] AS T1
            WHERE  [RuleType] = 'CSV TRANSFORMATION'
              AND  [Active]   = 1
              AND  EXISTS
                   (
                       SELECT 1
                       FROM   [#TEMTABLE] AS T2
                       WHERE  T1.[ExternalSystemID] = T2.[ExternalSystemID]
                   )
            ORDER BY [SeqNo];

            SET @iCounter = 1;
            SELECT @Counts = COUNT(1) FROM [#RULE_TAB];

            IF (@Counts > 0)
            BEGIN
                WHILE (@Counts >= @iCounter)
                BEGIN
                    SELECT
                        @SQLQUERY = [SQLQRY],
                        @Desc     = ISNULL([Description], '')
                    FROM [#RULE_TAB]
                    WHERE [ID] = @iCounter;

                    PRINT @SQLQUERY;
                    SELECT @SQLQUERY;    -- DEBUG ECHO
                    EXEC (@SQLQUERY);

                    SET @iCounter = @iCounter + 1;
                END
            END
        END

        ------------------------------------------------------------------------
        -- STAGE 5: MERGE PER-SEGMENT XML COLUMNS INTO A SINGLE HHDXML PER ROW
        ------------------------------------------------------------------------
        PRINT 'TRANSFORMATION LOGIC';

        SET @Counter    = 0;
        SELECT @Count   = COUNT(1) FROM @TEMTABLE;
        SET @StrCommand = N'';

        -- Dynamically construct SELECT list of [SEGxXML] columns to combine
        WHILE (@Count > @Counter)
        BEGIN
            SET @Counter = @Counter + 1;

            SELECT
                @SegName  = [HL7Segment],
                @Position = [Position]
            FROM @TEMTABLE
            WHERE [ID] = @Counter;

            IF (@Counter = 1)
                SET @StrCommand = N'SELECT [' + @SegName + CAST(@Position AS VARCHAR(10)) + N'XML] AS ' + @SegName;
            ELSE
                SET @StrCommand = @StrCommand + N', [' + @SegName + CAST(@Position AS VARCHAR(10)) + N'XML] AS ' + @SegName;
        END

        -- Merge into HHDXML with ROOT('MavenHl7')
        SET @StrCommand = N'
							UPDATE T
							SET [HHDXML] = (
								' + @StrCommand + N'
								FROM [#TEMTABLE] AS T1
								WHERE T1.[ROWID] = T.[ROWID]
								FOR XML PATH(''''), ROOT(''MavenHl7''), TYPE
							)
							FROM [#TEMTABLE] AS T
							WHERE ISNULL([NotApplyTrans], 0) <> 1;
							';
        SELECT @StrCommand;     -- DEBUG ECHO
        EXEC sp_executesql @StrCommand;
        SET @StrCommand = N'';

        ------------------------------------------------------------------------
        -- STAGE 6: WRITE BACK PER-ROW HHDXML + STATUS (PARSED)
        ------------------------------------------------------------------------
        UPDATE T1
        SET    T1.[MedSyncDataXML]       = T2.[HHDXML],
               T1.[DataParseDateTime]    = @CurrentDate,
               T1.[MedSync_Updated_Date] = @CurrentDate,
               T1.[StatusID]             = 5  -- PARSED
        FROM   [dbo].[vw_ExternalSysDataImportRow] AS T1
        INNER JOIN [#TEMTABLE] AS T2
            ON T1.[ID] = T2.[ROWID];

        -- Optional inspection
        SELECT * FROM [#TEMTABLE];

        ------------------------------------------------------------------------
        -- STAGE 7: WRITE BACK BATCH (PARENT) AGGREGATES + STATUS (READY TO CONVERT)
        ------------------------------------------------------------------------
        UPDATE T1
        SET
            T1.[DataParseDateTime]     = @CurrentDate,
            T1.[MedSync_Updated_Date]  = @CurrentDate,
            T1.[StatusID]              = 7, -- READY FOR CONVERSTION (original spelling preserved)
            T1.[MedSyncDataXML]        = CAST((
                                             SELECT [HHDXML]
                                             FROM   [#TEMTABLE] AS T2
                                             WHERE  T2.[ExternalSysData] = T1.[ID]
                                             FOR XML PATH(''), ROOT('BATCH'), TYPE
                                           ) AS XML)
        FROM   [dbo].[vw_ExternalSysDataImport] AS T1
        WHERE  EXISTS
               (
                   SELECT TOP (1) 1
                   FROM   [#TEMTABLE] AS T
                   WHERE  T.[ExternalSysData] = T1.[ID]
                     AND  ISNULL([NotApplyTrans], 0) <> 1
               );

        ------------------------------------------------------------------------
        -- STAGE 8: AUDIT END & CLEANUP
        ------------------------------------------------------------------------
        EXEC [dbo].[usp_AuditLogs] 0, @ProcName, 'Process Ended', @AuditId;

        IF OBJECT_ID('tempdb..[#TEMTABLE]') IS NOT NULL
            DROP TABLE [#TEMTABLE];
    END TRY
    BEGIN CATCH
        ------------------------------------------------------------------------
        -- ERROR HANDLER: RECORD & ESCALATE
        ------------------------------------------------------------------------
        SET @MAPID  = 0;
        SET @ERROR  = 'SegName' + ISNULL(@SegName, '')
                    + '-' + CAST(@MAPID AS VARCHAR(50))
                    + ' - ' + CAST(ERROR_NUMBER() AS VARCHAR(10))
                    + ' - ' + CAST(ERROR_MESSAGE() AS VARCHAR(1000));

        PRINT @StrCommand;

        UPDATE T1
        SET    [ErrorDetail] = @ERROR,
               [StatusID]    = @StatusID + 1 -- ERROR STATE
        FROM   [dbo].[vw_ExternalSysDataImport] AS T1
        WHERE  [StatusID] = 3
          AND  EXISTS
               (
                   SELECT TOP (1) 1
                   FROM   [#TEMTABLE] AS T
                   WHERE  T.[ExternalSysData] = T1.[ID]
               );

        EXEC [dbo].[usp_Log_MedSync_ProcessError]
             @ProcName, @ERROR, @StatusID, @AuditId;

        IF OBJECT_ID('tempdb..[#TEMTABLE]') IS NOT NULL
            DROP TABLE [#TEMTABLE];
    END CATCH
END;
GO
